@import "../variables";

.navigation {
  width: 100%;
  margin: 0;
  padding: 0;

  .navbar {
    width: 100%;
    padding: 0 3rem 0 0;

    .logo {
      height: 3rem;
      cursor: pointer;
    }

    .toggle {
      margin-right: 1rem;
      border: none;
    }

    a {
      font-size: 1em;
      font-weight: 500;
      color: $bottom-nav-font-color;
      margin-left: 1rem;
      margin-right: 1rem;
    }
    a:hover {
      text-decoration: none;
      color: $logo-color;
    }

    .profile {
      width: 40px;
    }

    .dropdown-menu {
      text-align: left;
      font-size: 0.8em;
      margin-top: 20px !important;

      a {
        margin: 0;
      }

    }
  }

}