.dropdown-menu {
  border-radius: .6em;

  .cart-preview-container {

    .cart-preview {
      font-size: .8em;


      .item-table {
        overflow-y: scroll;
      }

      .cart-details {
        min-width: 400px;
      }

      //empty-cart-preview
      .empty-cart {
        .empty-cart-image {
          width: 10em;
        }
      }

    }
  }
}