@import "variables";

.cart-icon {
  cursor: pointer;
}

.popover {
  border-radius: .6em;
  min-width: 30em;

  .cart-preview-container {

    .cart-preview {
      font-size: .8em;

      .item-table {
        overflow-y: scroll;
        max-height: 20em;

        .cart-item {
          .cart-item-image {
            max-height: 5em;
          }

          .cart-item-qty {
            color: $item-qty-color;
          }

          .cart-item-subtotal {
            color: $item-subtotal-color;
          }
        }
      }

      //empty-cart-preview
      .empty-cart {
        .empty-cart-image {
          width: 10em;
        }
      }

      //checkout-btn
      .cart-checkout-btn {
        font-size: .8em;
        border: 0;
        border-radius: 3em;
      }
    }
  }
}

@media (max-width: $layout-breakpoint-xs) {
  .popover {
    min-width: 22em;
  }
}