@import "variables";

.dropdown-menu {
  border-radius: .6em;

  .cart-preview-container {

    .cart-preview {
      font-size: .8em;


      .item-table {
        overflow-y: scroll;
        max-height: 20em;

        .cart-item {
          .cart-item-image {
            max-height: 5em;
          }
          .cart-item-qty {
            color: $item-qty-color;
          }
          .cart-item-subtotal {
            color: $item-subtotal-color;
          }
        }
      }

      .cart-details {
        min-width: 400px;
      }

      //empty-cart-preview
      .empty-cart {
        .empty-cart-image {
          width: 10em;
        }
      }

    }
  }
}