.header-nav {
  font-size: 1em;

  svg {
    font-size: 2em;
    color: black;
    margin-right: 5px;
  }
  button{
    background-color: transparent;
    color: #0abd48;
    border-color: #0abd48;
  }
}
