//--Media-Break-Points
$layout-breakpoint-xs: 576px;
$layout-breakpoint-md: 768px;
$layout-breakpoint-lg: 992px;
$layout-breakpoint-xl: 1200px;

//--Welcome-Banner
$welcome-green-color: #4a8601;

//--Categories
$categories-title-color: #00a824;
$category-item-border: #9f9f9f;
$category-item-title: #646464;

//--Footer
$footer-bg-color: #2A2A2A;
$footer-font-color: #9a9a9a;
$footer-icon-color: #7e7e7e;



